.tracklist {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color:darkslategray;
  margin: 0 1rem;
  padding: 1rem;

}
.tracklist input {
  width: 100%;
}
.Button {

  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  width: 80%;
  display: inline-block;

}

@media only screen and (min-width: 481px){
  .tracklist {
  width: 50%;

  }

}
