.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app .container {

  display: flex;
  flex-direction: column;
  width: 100%;

}

@media only screen and (min-width: 481px) {
  .app .container {
    flex-direction: row;
    justify-content: space-between;

  }
}
